// Paleta de colores

$color-principal: rgba(24, 24, 24, 1);

$segundo-color: rgba(235, 235, 235, 1);

$tecer-color:rgba(202, 207, 213, 1);

$cuarto-color:rgba(127, 128, 132, 1);

$quinto-color: rgb(43, 43, 43);



